<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>NavBar</title>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<ul class="nav nav-tabs">
			<li role="presentation"><a
				href="${pageContext.request.contextPath}/voyage/liste"> Accueil</a></li>
			<li role="presentation"><a
				href="${pageContext.request.contextPath}/conseiller/liste">
					Connexion admin</a></li>
			<li role="presentation"><a
				href="${pageContext.request.contextPath}/client/liste">
					Connexion client</a></li>
			<li role="presentation"><a
				href="${pageContext.request.contextPath}/client/afficheAjouter">
					Ajouter client</a></li>
			<li role="presentation"><a
				href="${pageContext.request.contextPath}/j_spring_security_logout">Deconnexion</a></li>
			<li role="presentation"><a
				href="${pageContext.request.contextPath}/map/display"><img
					src="${pageContext.request.contextPath}/assets/images/Globe-icon.png" style="height: 30px; width: 30px"/></a></li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="text" placeholder="Search"
				aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>

	</nav>


</body>
</html>